<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>LibraryController</servlet-name>
        <servlet-class>by.htp4.bitreight.library.controller.LibraryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibraryController</servlet-name>
        <url-pattern>/catalog</url-pattern>
        <url-pattern>/catalog/</url-pattern>
        <url-pattern>/catalog/search</url-pattern>
        <url-pattern>/catalog/search/</url-pattern>
        <!--<url-pattern>/logination</url-pattern>-->
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
</web-app>